$primary-color-100: hsl(0, 0%, 55%);
$primary-color-400: hsl(0, 0%, 41%);
$secondary-color: #f27a1a;
$white-color: hsl(0, 0%, 100%);
$black-color: hsl(0, 0%, 0%);

$font-size: 15px;

$section-width: 90%;
$section-margin: 2em;
$section-padding: 3em;

$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Alata', sans-serif;

$max-width: 990px;
