.cart {
    &__title {
        font-family: $secondary-font;
        margin: .5em;
        text-align: center;
    }

    &__grid {
        display: grid;
        grid-template-columns: 50px 1fr 1fr 30px;
        justify-items: center;
        align-items: center;
        margin-top: 1em;
        padding: 1em;
        border: 1px solid $primary-color-400;
    }

    &-product__empty {
        text-align: center;
        font-size: 2rem;
        color: $primary-color-400;
    }
}