header {
    background-image: url('../../images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: $white-color;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-self: flex-start;
    justify-content: space-between;
    width: $section-width;
    margin: 0 auto;
    padding: 1em 0;
    max-width: $max-width;
}

@media (min-width: 600px) {
    header{
        background-image: url('../../images/desktop/image-hero.jpg');
    }
}

