.featured {
  max-width: $max-width;
  padding: $section-padding 0;
  position: relative;

  &__content {
    margin: 2em 0;
    position: relative;
    padding-top: 3em;
  }

  &__title {
    margin-bottom: 0.3em;
    text-transform: uppercase;
    background-color: $secondary-color;
    color: $white-color;
    padding: 0.5em 0.5em 0.3em;
    width: max-content;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-size: 1.2rem;
    font-weight: 900;
    color: $primary-color-400;
  }

  &__p {
    padding: 0 1.2rem;
  }

  &__img {
    z-index: -1;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 130px 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: end;
    max-width: $max-width;

    &__img {
      grid-column: 1 / 3;
      grid-row: 1 / -1;
    }

    &__content {
      margin: 0;
      grid-column: 2 / -1;
      grid-row: 2 / -1;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 4em 0 0 4em;
      text-align: left;
    }

    &__p {
      padding: 0;
    }
  }
}
