.title {
  max-width: $max-width;
  margin: auto;
  word-spacing: 9999px;
  width: 90%;

  &__h1 {
    padding: 1em;
    text-align: center;
    background-image: url("../../../images/title-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: 600px) {
    margin: auto;
    align-items: flex-start;

    &__h1 {
      max-width: 400px;
      padding: 1em 2em 1em 1.2em;
    }
  }
}
